body{
    text-align: center;
    background-attachment: fixed;
    background-image: url('../back/posterback.png');
    background-size: cover;
    overflow-x: hidden;
    font-size: 34px;
    line-height: 1.32;
    
}
.textimg{
    opacity: 0;
    position: absolute;
    height: 2.3em;
    padding-top: 10px;
    margin-left: -10px;
    transition-timing-function: ease-out;
    transition: transform 0.5s, opacity 0.5s;
}

.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    width: 600px;
    margin-top: 3%;
}

.show{
    transition-timing-function: ease-out;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 1;
    transform: translateY(-20px);
    
}

#about{
    width: 100px;
    margin-top: 140px;
    margin-bottom: 40px;
}
h1{
    font-family: 'digestive';
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 5px;
}


.container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
p{
    text-align: left;
}


#hand1{
    width: 25%;
    display: block;
    min-width: 300px;
    margin-left: auto;
    top: 50%;
    right: 0;
}

#hand2{
    width: 35%;
    display: block;
    min-width: 300px;
    margin-top: 12%;
    margin-right: auto;
    display: block;
    
    
}
#eng{
    margin-top: 10px;
    font-family: 'arialMT';
    font-size: 25px;
    line-height: 35px;
}
#kor{
    margin-top: 12%;
    font-family: 'KoPub Dotum';
    font-size: 21px;
    line-height: 38px;
    font-weight: 400;
    
}

.bottom{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fingers{
    width: 100%;
    max-width: 650px;
}
.bottom h1{
    font-size: 2em;
    
}
#star{
    width: 40px;
    margin-top: 35px;
    margin-bottom: 100px;
}
#contact{
    width: 100px;
    margin-bottom: 20px;
}

.icon{
    display: inline;
    width: 40px;
    margin: 5px;
}
#rights{
    margin-top: 100px;
    width: 140px;
}

@media(max-width: 768px){
    .container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}


@media (max-width: 500px){
    #about{ display: none;}
    #title{
        margin-top: 110px;
        width: 90%;
    }
    #hand1{ width: 40%; min-width: 100px; margin-top: 20px;}
    #hand2{ width: 50%; margin-top: 0;}
    .container{
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
    }

    #eng{ margin-top: 10px; font-size: 18px;
        line-height: 26px;}
    #kor{ margin-top: 40px; font-size: 17px;
        line-height: 29px;}
    #fingers{ width: 100%; }
    .bottom{
        width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    }
    
    .mob{ visibility: hidden;}
}
