body{
    overflow: hidden;
}
video{
    position: absolute;
    text-align: center;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    overflow: hidden;
}


#startBtn{
    width: 100px;
    margin: auto;
    transition: all ease 1s;
}
#startBtn:hover{
    transform: scale(1.2);
}
#startBtn:active{
    transform: scale(3);
}
.container{
    width: 100%;
    height: 100%;
    
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
html, body{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

@media (max-width: 768px){
    #startBtn{ width: 115px;}
}