h1{
    font-family: 'digestive';
    text-align: center;
    font-size: 84px;
    margin-top: 0;
    padding-top: 64px;
}

.container{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../back/posterback.png');
    background-size: cover;
    background-attachment: fixed;
}


#title{
    width: 35%;
    margin-top: 64px;
    margin-bottom: 140px ;
}
#poster-box{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    transition: all ease-in 0.1s;
    -webkit-transition: all ease-in 0.1s;
}
.poster{
    width: 220px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    transition: all ease-in 0.1s;
    -webkit-transition: all ease-in 0.1s;
}

.poster:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

#poster-box div:hover{
    transform: scale(1.05);
    z-index: 100;
}

#modal-poster{
    opacity: 0;
    width: 30%;
    min-width: 300px;
    position: fixed;
    top: 10%;
    left: 35%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}


@media (max-width: 768px){
    .poster{ width: 100px; margin-bottom: 20px;}
    #title{ width: 90%; margin-top: 70px; margin-bottom: 50px;}
    #modal-poster{min-width: 200px; width: 90%;top: 20%;
        left: 5%;}
}

@media screen and (max-width: 330px){
    .poster{ width: 90px; margin-bottom: 20px;}
    #poster-box{width: 90%;
        margin-left: 5%;
        margin-right: 5%;}
}
