

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    
    background-image: url('../back/Q1back.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

#middle{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
}

#poster-img{
    width: 113px;
    margin: 0 auto 30px auto;
}

#title{
    display: block;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

#bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.text{
    text-align: left;
    display: inline;
    width: 670px;
    margin-right: 20px;
}

#startBtn{
    width: 142px;
    display: inline;
}

