html{margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;}
body{
    margin: 0;
    padding: 0;
    background-image: url('../back/posterback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: baseline;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    position: relative;
    
}

#middle{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 0 ;
}
#middle-text{ 
    margin-top: 50px;
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 20px;
}

#poster-img{
    width: 90px;
    margin: 0 auto 40px auto;
}

#title{
    display: block;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}
#title-mob{ 
    display: none;
}

#bottom{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 15%;
    
    height: auto;
    justify-content: center;
    margin-top: 50px;
    line-height: 2;
    
}

h1{
    margin: 90px 0 0 0;
    padding: 0;
    display: none;
    line-height: 50px;
    text-align: left;
    font-family: 'digestive';
    font-size: 40px;
    
}
.text{
    text-align: left;
    display: inline;
    width: 70%;
    margin-right: 20px;
    font-family: 'kopub dotum';
    font-weight: 600;
}

#startBtn{
    width: 142px;
    display: inline;
    transition: all 0.3s ease;
}

#startBtn:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}


@media (max-width: 768px){
    #logo{display: none;}
    #poster-img,#title{display: none;}
    #title-mob{display: block;
        width: 80%;
    margin: 20% 10% 0% 10%;
    }
    #middle{
        width: 100%; margin-bottom: 10%;
    margin-left: 0%;}
    #middle-text{
        font-size: 15px; 
        margin-top: 18px; 
        text-align: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
    }

    h1{display: block;}
    #bottom{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;}
    .text{
        font-size: 12px;
        margin: 0;
        /* padding: 15px; */
        margin-bottom: 10%;
        /* border: black 1.5px solid; */
        /* border-radius: 20px; */
        /* background-color: white; */
        /* filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ; */
    }
    #bottom a{margin: 0 auto;}
    #startBtn{width: 80px; margin-top: 0;}
}

@media screen and (min-width:300px) and (max-width: 370px){
    #title-mob{ margin: 20% 10% 10px 10%; width: 80%;}
    .text{font-size: 10px; margin-bottom: 5%;}
    #middle{ margin-bottom: 5%;}
    #middle-text{margin-top: 10px;}
    #bottom{ width: 100%;}
}

@media (min-height: 737px) and (max-height: 820px){
    #title-mob{ margin: 10%;}
}
