

.inline{
    display: inline-block;
    
}
.block{
    display: block;
}

#intro_title{
    font-family: "digestive";
    font-size: 11em;
    line-height: 90%;
    
}

#intro_content{
    font-size: 3em;
    max-width: 80%;
}
.right{
    float: right;
}
.left{
    float: left;
}

