body{
    width: 100%;
    height: 100%;
    background-image: url('../back/menuback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.back{
    width: 100%;
    height: 100%;
    font-family: 'digestive';
    display: flex;
    position: absolute;
    align-items: center;
}
.container{
    
    margin-left: 150px;
    width: 35%;
    position: relative;
}

#no{
    width: 28px;
    position: absolute;
    float: right;
    top: 30px;
    right: 30px;
}

#no:hover{
    filter: invert(100%) sepia(1%) saturate(11%) hue-rotate(312deg) brightness(103%) contrast(100%);
}

#home{
    width: 70%;
}
.home{
    transform: rotate(30deg);
    transition: all ease-in 0.07s;
    -webkit-transition: all ease-in 0.07s;

}

#about{
    width: 60%;
    float: right;
}
.about{
    transform: rotate(15deg);
    transition: all ease-in 0.07s;
    -webkit-transition: all ease-in 0.07s;
}

#make{
    margin-top: 12px;
    width: 90%;
}
.make{
    transform: rotate(-15deg);
    transition: all ease-in 0.07s;
    -webkit-transition: all ease-in 0.07s;
}


#share{
    width: 90%;
}
.share{
    transform: rotate(-30deg);
    transition: all ease-in 0.07s;
    -webkit-transition: all ease-in 0.07s;
}



#menu-finger{
    position: absolute;
    right: 20%;
    transition: all ease-in 0.07s;
    -webkit-transition: all ease-in 0.07s;

}

@media (max-width: 768px){
    .back{
        width: 100%;
        flex-direction: column;
        justify-self:center;
    }
    .container{
        width: 90%;
        margin:0;
    }
    #about{ margin-top: -10px;}
    #make,#share{width: 95%;}
    #menu-finger{
        position: initial;
        width: 40%;
        margin: 40px auto;
    }
    .home,.make,.about,.share{
        transform: rotate(-90deg);
        transition: all ease-in 0.07s;
        -webkit-transition: all ease-in 0.07s;
    }
}
