
.back{
    width: 100%;
    height: 100%;
    font-family: 'digestive';
    background-image: url('../back/menuback.png');
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;
}
.container{
    margin-top: 100px;
    margin-left: 100px;
    width: 40%;
    position: relative;
}

#home{
    width: 358px;
}
#home-text{
    position: absolute;
    top: 80px;
    left: 30px;
}

#about{
    width: 300px;
}
#about-text{
    position: absolute;
    top: 80px;
    left: 30px;
}

#make{
    width: 458px;
}
#make-text{
    position: absolute;
    top: 80px;
    left: 30px;
}
#share{
    width: 471px;
}
#share-text{
    position: absolute;
    top: 80px;
    left: 30px;
}

#menu-finger{
    float: right;
}