body{
    background-attachment: fixed;
    text-align: center;
    background-image: url('../back/posterback.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    /* transition-property: width, height, left, top;
    transition-duration: 0.5s; */
}

/* .move{
    -webkit-transform: translateX(-10%) translateY(-10%) scale(10%);
    -webkit-transition-timing-function: ease-in;
} */


.wrap{
    display: flex;
    
}

#blank{
    flex-basis: 0px;
}
#canvas{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    flex: none;
    height: 600px;
    width: 415px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.3s ease;
}


#canvas-name{
    justify-content: center;
    font-family: 'digestive-2';
    font-size: 25px;
    top: 0;
    display: flex;
    text-align: center;
    margin: 15px auto;
    position: absolute;
    align-items: center;
}

#canvas-name img{
    width: 20px;
    margin: 0 20px;
}

#canvas-word{
    font-family: 'digestive-2';
    font-size: 40px;
    position: absolute;
    justify-content: center;
    margin: auto;
}
.word{
    margin: 10px;
}

#canvas-img{
    width: 100%;
    height: 100%;
    z-index: -100;
    top: 0;
    left: 0;
    position: absolute;
}


#liquid-img{
    width: 100%;
    height: 100%;
    z-index: -90;
    top: 0;
    left: 0;
    position: absolute;
}
#liquid-div{
    width: 100%;
    height: 100%;
    z-index: -90;
    top: 0;
    left: 0;
    position: absolute;
}


#texture{
    
    width: 100%;
    height: 100%;
    z-index:-1;
    top: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
}

#user{
    
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
    /* mix-blend-mode: luminosity; */
}


#canvas-user{
    background: rgba(0,0,0,0);
    height: 80px;
    width: 80px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    right: 20px;
    bottom: 100px;
}



.poster-tab{
    display: inline-block;
    flex-basis: 0px;
}
.button-tab{
    display: inline-block;
    margin-top: auto;
    flex-basis: 0px;
}

#help{
    width: 330px;
    display: block;
    margin: 0 auto;
   
}
#save-mobile{
    display: none;
}

#poster-modal{
    -webkit-touch-callout: default;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 12%;
}
#poster{
    -webkit-touch-callout: default;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.btn{
    display: block;
    cursor: pointer;
    width: 163px;
    height: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
    -webkit-filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}
.m-size {
    width: 100px;
}
.resizable{
    position: absolute;
    cursor: move;
    display: inline-block;
    width: 100px;
    height: auto;
    
}
.resizable >img{
    width: 100%;
}

#img1,#img2,#img3{
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.ui-page,.ui-page-theme-a,.ui-page-active{
    outline: none;
    overflow: hidden;
}
.ui-page:active,.ui-page-theme-a:active,.ui-page-active:active{
    outline: none;
    overflow: hidden;
}


.container {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-left: 0;
    top: 0;
    left: 0;
    font-size: 50px;
    justify-content: center;
}
.ui-corner-all{ display: none;}

@media (max-width: 768px){
    body{
        overflow-y: auto;
    }
    .container{
        flex-direction: column;
        margin-top: 8%;
    }
    #help{ width: 70%;}
    .poster-tab{ width: 90%;}
    #canvas{ width: 100%;}
    .btn{margin-right: 0; width: 40%; margin-top: 0;}
    #save{display: none;}
    #save-mobile{display: inline-block;}
    .button-tab{display: flex;justify-content: center;}
}

@media (min-height:750px) and (max-height: 820px){
    .container{
        margin-top: 20%;
    }
}