body{
    background-attachment: fixed;
    text-align: center;
    background-image: url('../back/posterback.png');
    background-size: cover;
    

    /* transition-property: width, height, left, top;
    transition-duration: 0.5s; */
}

/* .move{
    -webkit-transform: translateX(-10%) translateY(-10%) scale(10%);
    -webkit-transition-timing-function: ease-in;
} */


.wrap{
    display: flex;
    
}

#blank{
    flex-basis: 0px;
}
#canvas{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    flex: none;
    height: 600px;
    width: 415px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    
}


#canvas-name{
    justify-content: center;
    font-family: 'digestive-2';
    font-size: 25px;
    top: 0;
    display: flex;
    text-align: center;
    margin: 15px auto;
    position: absolute;
    align-items: center;
}

#canvas-name img{
    width: 20px;
    margin: 0 20px;
}

#canvas-word{
    font-family: 'digestive-2';
    font-size: 40px;
    position: absolute;
    justify-content: center;
    margin: auto;
}
.word{
    margin: 10px;
}

#canvas-img{
    width: 100%;
    height: 100%;
    z-index: -100;
    top: 0;
    left: 0;
    position: absolute;
}

#img1,#img2,#img3{
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}
#liquid-img{
    width: 100%;
    height: 100%;
    z-index: -90;
    top: 0;
    left: 0;
    position: absolute;
}

#texture{
    
    width: 100%;
    height: 100%;
    z-index:-1;
    top: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
}

#user{
    width: 100%;
    margin-top: -10px;
    -webkit-filter: grayscale(100%) blur(2px);
    filter: grayscale(100%) blur(2px);  
    
    /* mix-blend-mode: luminosity; */
}


#canvas-user{
    background: rgba(0,0,0,0);
    height: 80px;
    width: 80px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    right: 20px;
    bottom: 100px;
}



.poster-tab{
    display: inline-block;
    flex-basis: 0px;
}
.button-tab{
    display: inline-block;
    margin-top: auto;
    flex-basis: 0px;
}

#help{
    width: 360px;
    display: block;
    margin: 0 auto;
   
}
.btn{
    display: block;
    cursor: pointer;
    width: 163px;
    margin-right: auto;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}
.m-size {
    width: 100px;
}
.resizable{
    position: absolute;
    cursor: move;
    display: inline-block;
    width: 100px;
    height: 100px;
}
.resizable >img{
    width: 100%;
}



.container {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-left: 0;
    top: 0;
    left: 0;
    font-size: 50px;
    justify-content: center;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
    #help{ width: 80%;}
    .poster-tab{ width: 90%;}
    #canvas{ width: 100%;}
}