.container{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 50px;
}
.q1back{
    background-image: url('../Q1back.png');
}
.q2back{
    background-image: url('../Q2back.png');
    background-size: cover;
}
.q3back{
    background-image: url('../Q3back.png');
}
/* 공통 */

h1{
    font-size: 40px;
}
p{
    font-size: 30px;
}

/* 공통 */


#q{
    width: 73px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;
    margin-bottom: 95px;
}

#content{
    margin-top: 45px;
    margin-bottom: 72px;
}

.textdiv{
    
    vertical-align: middle;
    text-align: center;
}

.textdiv > input{
    display: inline-block;
    vertical-align: middle;

}
.textdiv > img {
    width: 55px;
}



