body{
    font-size: 10px;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 50px;
    background-attachment: fixed;
    background-size: cover;
}
.q1back{
    background-image: url('../back/Q1back.png');
    overflow: hidden;
}
.q2back{
    background-image: url('../back/Q2back.png');   
    overflow: hidden; 
}
.q3back{
    background-image: url('../back/Q3back.png');
}

.q4back{
    background-image: url('../back/Q4back.png');
}
/* 공통 */

h1{
    font-family: 'futura';
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 1.4;
    font-weight: 100;
    margin: 1em 0 0 0;
}

#q{
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#content{
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 15px;
}

#bottom-container{
    width: 70%;
    display:flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-top: auto;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    
}


/* 공통 */



.textdiv{
    font-family: 'Noto Sanse';
    vertical-align: middle;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    z-index: 5;
}

.textdiv > input{
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}
.lense {
    width: 1em;
    margin-left: 10px;
    vertical-align: middle;
    transition: all 0.2s ease;
}
.lense:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}

#textdiv1{
    margin-top: 100px;
}

input{
    border: black 4px solid;
    height: 37px;
    width: 150px;
    border-radius: 25px;
    padding-left: 20px;
}
input[type="file"]{
    position: absolute;
    opacity: 0;
    z-index: -10;
    overflow: hidden;
    width: 1px;
    height: 1px;
}
.help{ 
    width:270px;
    margin-bottom: 1.5em;
}


.finger{
    width: 180px;
    cursor: pointer;
    margin: 30px;
    transition: all 0.2s ease;
}

.finger:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}
.skip{ 
    width: 130px;
    transition: all 0.2s ease;
}
.skip:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}
label {
    justify-content: center;
    align-items: center;
    display: flex;
}
.input3{
    width: 130px;
}

#file-img{
    width: 50px;
    margin-left: 10px;
    transition: all 0.2s ease;
}
#file-img:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}

.file-name{
    z-index: 10;
    opacity: 1;
    
}

#finishBtn{
    width: 143px;
    top: 10px;
    float: right;
}
#back{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal{
    border-radius: 16px;
    z-index: 30;
    background-image: url('../back/modalback.png');
    background-size: cover;
    display: none;
    color: white;
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    min-width: 500px;
    height: 70%;
    margin-left: 0;
    margin-top: 0;
    overflow: auto;
    justify-content: center;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5)) ;

    /* min-width: 300px; */
}

#modal>h1{
    font-family: 'digestive';
    font-weight: 100;
    text-align: center;
    font-size: 50px;
    margin-top: 56px;
    margin-bottom: 0;
}

#modal> p{
    font-size: 16px;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: bold;
    margin: 0;
}

#no{
    width: 23px;
    margin: 20px;
    position: absolute;
    right: 0;
}
#modal-container{
    margin: 40px 15px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.words{
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    vertical-align: middle;
    display: table;
    position: relative;
    text-align: center;
    margin: 10px;
}

#no:hover,.words:hover{
    -webkit-filter: invert(12%) sepia(21%) saturate(4662%) hue-rotate(58deg) brightness(99%) contrast(105%);
    filter: invert(12%) sepia(21%) saturate(4662%) hue-rotate(58deg) brightness(99%) contrast(105%);

}
/* .word-text:hover{
    -webkit-filter: invert(12%) sepia(21%) saturate(4662%) hue-rotate(58deg) brightness(99%) contrast(105%);
    filter: invert(12%) sepia(21%) saturate(4662%) hue-rotate(58deg) brightness(99%) contrast(105%);

} */

.word-text{
    font-family: 'futura';
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
}


.clicked{
    -webkit-filter: invert(12%) sepia(21%) saturate(4662%) hue-rotate(58deg) brightness(99%) contrast(105%);
    filter: invert(12%) sepia(21%) saturate(4662%) hue-rotate(58deg) brightness(99%) contrast(105%);
}


/* 4 */
.color-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 100px auto;
}
.color{
    width: 150px;
    transition: all 0.2s ease;
}
.color:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}
.clicked-color{
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}

@media (max-width: 1000px){
    h1{margin:0;}
    .help{margin-bottom: 1em;}
}
@media (max-width: 600px) {
    #modal {
        position: fixed;
        margin : 0;
        border-radius: 0px;
        width: 100%;
        height: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
       
    }
    #modal>h1{ 
        text-align: center;
        font-size: 40px;}
    #content{ font-size: 13px;}

    .skip{display: none;}
    
    #q{
        width: 50px;
        margin-top: 0.5em;
        margin-bottom: 0.6em;
    }
    h1{
        font-size: 30px;
        margin-top: 30px;
    }
    p{
        font-size: 15px;
    }
    
    .textdiv > img{
        width: 40px;
    }
    span > img {
        width: 145px;
    }
    #finishBtn{
        width: 85px;
        float: right;
        margin-right: 0.5em;
    }
    input{ width: 130px;}
    .finger{
        width: 150px;
        margin: 10px 10px;
    }
    .help{ width: 260px; margin-bottom: 1em;}
    #bottom-container{
        width: 100%;
    }
    .color-container{
        margin-top: 0px;
    }
    .color{
        width: 120px;
    }
 }

 @media screen and (min-width:300px) and (max-width: 374px) ,(max-height: 736px){
    h1{ font-size: 25px; margin-bottom: 0.5em; margin-top: 0;}
    #textdiv1{margin-top: 50px ;}
    #q{margin-top: 0.3em;}
    #content{ margin-top: 0;}
    .finger{margin: 5px 5px;}
    .help{margin-bottom: 0.3em;}
    .textdiv{margin-bottom: 5px;}
    .texdiv input{ border: black 3px solid;
        height: 35px;}
    input{ border: black 3px solid;
    height: 35px;}
    .textdiv img{ width: 40px;}
    

}
@media screen and (max-width:330px){
    .words{ width: 120px; height: 64px;}
    .word-text{font-size: 18px;}
    .color{width: 100px;}
}
@media screen and (min-height:569px) and (max-height:736px){
    #q{margin-top: 1em;}
    .texdiv{margin-bottom: 10px;}
    .help{margin-bottom: 1em;}
    
}


