html,body,a,img{
    cursor: url(../others/pointer2.png) 0 0,auto;
    
}


body{
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity .65s .15s
}
body.reveal {
    opacity: 1;
    overflow-y: auto
}

body.hidden {
    opacity: 0
}


@font-face {
    font-family: "digestive";
    src: url('../font/Digestive-four.eot') format('eot'),
    url('../font/Digestive-four.woff') format('woff'),
    url('../font/Digestive-four.woff2') format('woff2');
  
    font-weight: 100;
    font-style: normal;

}
@font-face{
    font-family: "digestive-2";
    src: url('../font/Digestive-two.eot') format('eot'),
    url('../font/Digestive-two.woff') format('woff'),
    url('../font/Digestive-two.woff2') format('woff2')

}
@font-face{
    font-family: 'kopub dotum';
    src: url('../font/KoPubDotumMedium.eot') format('eot'),
    url('../font/KoPubDotumMedium.woff') format('woff');
}
@font-face{
    font-family: 'futura';
    src: url('../font/futura.eot') format('eot'),
    url('../font/Futura-Bold.woff') format('woff2');
}
@font-face{
    font-family: 'arialMT';
    src: url('../font/arialmt.eot') format('eot'),
    url('../font/ArialMT.woff') format('woff'),
    url('../font/arialmt.woff2') format('woff2');
    font-weight: 100;
}


#logo{
    position: fixed;
    float: left;
    left: 20px;
    top: 20px;
    z-index: 20;
    width: 60px;
    transition: all 0.2s ease;
}

#logo:hover{
    transform: scale(1.2);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}

#menu{
    position: fixed;
    float: right;
    right: 10px;
    top: 15px;
    z-index: 20;
    width: 111px;
    transition: all 0.2s ease;
}
#menu:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}
input:focus {outline:none;}
@media (max-width: 768px){
    #menu{ width: 78px; }
    #logo{ width: 48px; }
}
@media screen and (max-width: 330px){
    #menu{ width: 72px; }
    #logo{ width: 40px; }
}
