body{
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: "digestive";
    src: url('../font/DigestiveDemo-four.eot') format('eot'),
    url('../font/DigestiveDemo-Four.otf') format('otf'),
    url('../font/digestivedemo-four.woff') format('woff'),
    url('../font/digestivedemo-four.woff2') format('woff2');
  
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: "digestive-2";
    src: url('../font/DigestiveDemo-two.eot') format('eot'),
    url('../font/DigestiveDemo-two.woff') format('woff'),
    url('../font/DigestiveDemo-two.woff2') format('woff2')

}
#logo{
    position: fixed;
    float: left;
    left: 10px;
    top: 10px;
    width: 87px;
}

#menu{
    position: fixed;
    float: right;
    right: 10px;
    top: 10px;
    width: 118px;
}