html,body{
    cursor: url(../others/pointer.png) 16 16,auto;
}

body{
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: "digestive";
    src: url('../font/DigestiveDemo-four.eot') format('eot'),
    url('../font/DigestiveDemo-Four.otf') format('otf'),
    url('../font/digestivedemo-four.woff') format('woff'),
    url('../font/digestivedemo-four.woff2') format('woff2');
  
    font-weight: 100;
    font-style: normal;

}
@font-face{
    font-family: "digestive-2";
    src: url('../font/DigestiveDemo-two.eot') format('eot'),
    url('../font/DigestiveDemo-two.woff') format('woff'),
    url('../font/DigestiveDemo-two.woff2') format('woff2')

}
@font-face{
    font-family: 'kopub dotum';
    src: url('../font/KoPubDotumMedium.eot') format('eot'),
    url('../font/KoPubDotumMedium.woff') format('woff')
}
@font-face{
    font-family: 'futura';
    src: url('../font/futura.eot') format('eot'),
    url('../font/Futura-Bold.woff') format('woff2')
}

#logo{
    position: fixed;
    float: left;
    left: 20px;
    top: 20px;
    z-index: 20;
    width: 60px;
    transition: all 0.3s ease;
}

#logo:hover{
    transform: scale(1.2);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}

#menu{
    position: fixed;
    float: right;
    right: 10px;
    top: 10px;
    z-index: 20;
    width: 111px;
    transition: all 0.3s ease;
}
#menu:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}

@media (max-width: 768px){
    #menu{ width: 78px; }
    #logo{ width: 48px; }
}
@media screen and (max-width: 330px){
    #menu{ width: 72px; }
    #logo{ width: 40px; }
}
