body{
    /* text-align: center; */
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url('../back/shareback.png');
    background-size: cover;
    color: white;
}

h1{
    padding-top: 100px;
    margin-top: 0;
    margin-bottom:0.3em ;
    font-family: 'digestive';
    font-size: 50px;
    line-height: 1.2;
}
p{ font-family: 'Noto Sans KR',sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
}


#container{
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

input{
    width: 300px;
    height: 48px;
    padding-left: 20px;
    border-radius: 29px;
    color: #bce0fd;
    border: #bce0fd 2px solid;
    vertical-align:middle; 
}

#submit{
    width: 48px;
    vertical-align:middle; 
    margin-left: 5px;
}



#bubbles{
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 90%;

}

.bubble{
    display: table;
    position: relative;
    background-image: url(../others/share-bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 450px;
    height: 230px;
    color: black;
    text-align: center;
    overflow: scroll;
    transition: all ease-out 0.4s;
    /* top: -118px;
    left: -225px; */
}
.bubble-text{
    display: table-cell;
    vertical-align: middle;
    padding-left: 15%;
    padding-right: 20%;
}
.bubble-text div{
    max-height: 120px;
    overflow: auto;
}

.clicked{
    transform: scale(1.2);
}

@media (max-width: 768px) {
    h1{font-size: 44px;}
    #input-div {
        position: fixed;
        width: 100%;
        padding: 15px 0;
        background: rgba(188,224,253, 0.39);
        display: flex;
        align-items: center;
        bottom: 0;
        z-index: 100;
        justify-content: center;
    }
    .bubble{
        width: 400px;
        height: 204px;
    }
    #bubbles{ margin-top: 30px;}
}
