body{
    /* text-align: center; */
    width: 100%;
    height: 100%;
    background-image: url('../back/shareback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    /* 원래버전 */
}

h1{
    padding-top: 100px;
    margin-top: 0;
    margin-bottom:0.3em;
    font-family: 'digestive';
    font-weight: 100;
    font-size: 90px;
    line-height: 1.2;
}
p{ font-family: 'Noto Sans KR',sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
}


#container{
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
#input-div{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
input{
    width: 200px;
    height: 40px;
    padding-left: 20px;
    border-radius: 29px;
    color: #bce0fd;
    border: #bce0fd 2px solid;
    vertical-align:middle; 
    transition: all ease 0.2s;
}
input:hover{
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3)) ;
}

#submit{
    width: 48px;
    vertical-align:middle; 
    margin-left: 5px;
    transition: all ease 0.2s;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3)) ;
}

#submit:hover{
    transform: scale(1.05);
    filter:drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}



#bubbles{
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 86%;
    margin-left: 7%;
    margin-right: 7%;

}

.bubble{
    display: table;
    position: relative;
    background-image: url(../others/share-bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
    width: 400px;
    height: 205px;
    color: black;
    text-align: center;
    overflow: scroll;
    transition: all ease 0.25s;
    /* top: -118px;
    left: -225px; */
}
.bubble:hover{
    filter:drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)) ;
}

.bubble-text{
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 18%;
    padding-right: 22%;
}
.bubble-text div{
    max-height: 100px;
    overflow: auto;
}

.clicked{
    transform: scale(1.2);
}

@media (max-width: 768px) {
    h1{font-size: 44px;}
    #input-div {
        position: fixed;
        width: 100%;
        padding: 15px 0;
        background: rgba(188,224,253, 0.39);
        display: flex;
        align-items: center;
        bottom: 0;
        z-index: 100;
        justify-content: center;
    }
    .bubble{
        width: 400px;
        height: 204px;
    }
    #bubbles{ margin-top: 30px;}
}
