<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    <script src="../static/js/setting.js"></script>
    <title>Title</title>

</head>

<body> 
    <a href="/home"><img id="logo" src="../static/others/logo.png"></a>
    <a href="/menu"><img id="menu" src="../static/others/menu.png"></a>
    <div class="top">
        <img id="about" src="../static/others/about.png">
        <img id="title" src="../static/others/about-title.png">
    </div>
    
    <img id="hand1" src="../static/others/about-hand1.png">
    <div class="container">
        <p id='eng'>
            
            The media has been <img class="textimg stereo"src="../static/others/textimg/stereotyped.png">stereotyped the elderly negatively.
            Especially, older women were widely underrepresented with a failing in its characterization.
            It doesn’t reflect the <img class="textimg "src="../static/others/textimg/various.png">various lifestyle of older women. 
            <br><br><br>
            The <img class="textimg"src="../static/others/textimg/anti.png">anti-aging industry denies a natural process of aging. They set the youth as a standard of beauty,
            using young-looking models who are away from the actual look of older women. As a result, it has been
            difficult
            to imagine a <img class="textimg"src="../static/others/textimg/winkled.png">wrinkled confident old lady(grandmother). This project <img class="textimg"src="../static/others/textimg/criticize.png">criticize a society that denies the
            <img class="textimg mob"src="../static/others/textimg/natural.png">natural process of aging and obsessed the youth.<br><br><br>


            &lt; Anti Anti Aging &gt; completes with <img class="textimg"src="../static/others/textimg/participation.png">participation. <br>
            The project invites participants to think about their future as a grandmother by answering the simple
            question,
            ‘what kind of grandmother do you want to be?’. The users will be asked to enter three adjectives that
            describe
            their <img class="textimg"src="../static/others/textimg/future.png">future as a <img class="textimg "src="../static/others/textimg/grandma.png">grandmother, and the poster will be generated. The poster can be shared on the website to
            strength <img class="textimg"src="../static/others/textimg/solidarity.png">solidarity as a woman who gets older together and to share the ideas of aging.
            <br><br><br>
            &lt; Anti Anti Aging &gt; provides a way to tell stories of older women <img class="textimg"src="../static/others/textimg/breaking.png">breaking the <img class="textimg"src="../static/others/textimg/frame.png">frame of grandmothers.
            It <img class="textimg"src="../static/others/textimg/negates.png">negates fixed gender roles of elderly women, which are now socially formed. Deviating from the
            stereotypical
            image of grandmothers in Korea, the project <img class="textimg mob"src="../static/others/textimg/encourage.png">encourages the young generation to think about what kind of
            grandmother they want to be. On the other hands, the project will contribute to establishing a new language
            for describing older women, <img class="textimg"src="../static/others/textimg/away.png">away from the fixed and uniform image frame of dependent older women.
            <br><br><br>
            I look forward to seeing more <img class="textimg"src="../static/others/textimg/diverse.png">diverse images of older women and discourses about aging away from the
            male-centered perspective.
        </p>
    </div>




    <img id="hand2" src="../static/others/about-hand2.png">
    <div class="container">
        <p id='kor'>
            젊은 여성의 신체와 외모를 기준으로 하는 <img class="textimg"src="../static/others/textimg/kor-anti.png">노화방지의학, 즉 안티에이징 산업은 <img class="textimg" src="../static/others/textimg/kor-natural.png">자연스러운 노화 과정을 부정한다. 따라서 우리는 노인여성의 몸을 통해 타자의 시선에서 자유로워진 좀 더 당당하고
            직관을 가진 할머니 여성을 쉽게 상상하지 못한다.
            <br><br><br>
            본 작업은 여성이 가질 수 있는 <img class="textimg" src="../static/others/textimg/kor-value.png">무형의 가치에 주목한다. 또한 재단된 미의 기준을 부정하고 젊음에
            집착하는 사회를 비판한다. ‘우리는 어떤 할머니가 될 것인가?’에 대한 물음을 던짐으로써 젊은 여성
            세대가 <img class="textimg" src="../static/others/textimg/kor-life.png">노년의 삶의 방향성을 고민하도록 유도한다. 사용자는 간단한 질문을 통해 ‘나는 어떤 할머니가 될 것인가’에 대해 스스로 생각하는 시간을 갖고 자신만의 포스터를 제작한다. 나아가 웹사이트를
            통해 자신의 포스터와 이야기를 공유함으로써 <img class="textimg" src="/static/others/textimg/kor-band.png">여성 연대를 느끼고 서로를 통해 배워가도록 한다.
            <br><br><br>
            &lt; Anti Anti Aging &gt; 작업은 현재 사회적으로 형성되어 있는 노인여성의 <img class="textimg" src="/static/others/textimg/kor-gender.png">성역할에 고정되지 않고,
            어머니라는 틀을 넘어 노인여성의 이야기를 할 수 있는 통로를 마련한다. 한편 단순히 의존자로서 규정되는 노인여성의 고정적이고 획일화된 <img class="textimg" src="/static/others/textimg/kor-image.png">이미지 프레임을 벗어나 여성으로서 노년의 삶을 표현하고
            해석하는 언어를 만들어내는 데에 기여할 것이다.
            <br><br><br>
            나아가 본 작업을 통해 노인여성들에 대한 <img class="textimg mob" src="/static/others/textimg/kor-diverse.png">다양하고 새로운 역할 모델이 창조되고, 남성중심적이고
            이성애중심적인 시각에서 벗어나 다채로운 <img class="textimg" src="/static/others/textimg/kor-story.png">노인여성 담론이 이루어지기를 기대한다.

        </p>
        

    </div>

    <div class="bottom">
        <img id="fingers" src="../static/others/about-fingers.png">
        <h1>Look Forward To<br>Being A Grandma</h1>
        <img id="star" src="../static/poster/star.png">
        <img id="contact" src="../static/others/contact.png">
        <div>
            <a href="https://www.instagram.com/lsueah/"><img id="insta"class='icon' src="../static/others/instagram.png"></a>
            <a href="mailto:lsueah@gmail.com"><img id="mail"class='icon' src="../static/others/paperplane.png"></a>
        </div>

        <img id="rights" src="../static/others/rights.png">

    </div>










    <script>

        var isScrolling;
        $(window).scroll(function(e){
            isScrolling = true;
        })

        setInterval(function(){
            if(isScrolling){
                $('.textimg').addClass('show')
                isScrolling=false;
            }else{
                $('.textimg').removeClass('show')
            }
            
        },1000)

        

        // $('body').on('mousewheel',function(e){
            
        //     // $('.textimg').animate({
        //     //     opacity: 1
        //     // }, 200)
            

        //     setTimeout(function () {
        //     $('.textimg').removeClass('show')
        // }, 1000);
        // })

    </script>
</body>

</html>