<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/setting.js"></script>
    <title>Title</title>
</head>

<body>
    <div class="container">
        <a href="/home"><img id="logo" src="../static/others/logo.png"></a>
        <a href="/menu"><img id="menu" src="../static/others/menu.png"></a>
        <img id='title' src="../static/others/hometitle.png">
        
        <div id="poster-box">
        </div>
        <div><img id="modal-poster"></div>
        
    </div>

    <script>
        $.ajax({
            type: 'GET',
            url: '/home/poster',
            data: {},
            success: function (response) {
                if (response["result"] == "success") {

                    let list = response['list'];
                    console.log(list)
                    var object = "";
                    for (var i = 0; i < list.length; i++) {
                        object += "<div><img class='poster'src ='";
                        object += list[i]['poster'];
                        if (i % 2 == 0) {
                            object += "' style='transform: rotate(7deg);' ></div>";
                        } else {
                            object += "' style='transform: rotate(-7deg);' ></div>";
                        }
                    }

                    $("#poster-box").append(object);
                }
            }

        })

        $(document).on('click',".poster",function(e){
            e.stopPropagation();

            $('#modal-poster').attr('src',$(this).attr('src')).css('display','inline')
            
            $('.poster').animate({
                opacity: 0.33
            }, 200)
            $('#modal-poster').animate({
                opacity: 1
            }, 200)
        })

        
        $(document).on('click',".container",function(){
            $('#modal-poster').animate({
                opacity:0
            },200)
            $('#modal-poster').css('display','none')
            $('.poster').animate({
                opacity: 1
            }, 200)
        })
    </script>
</body>

</html>