<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/setting.css?v=2">
    <link rel="stylesheet" href="../static/css/home.css?v=16">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/setting.js?v=2"></script>
    <title>Anti Anti Aging</title>
    <link rel="shortcut icon" href="../static/others/anti.png" type="image/x-icon">

</head>

<body>
    <div class="container">
        <a href="/home"><img id="logo" src="../static/others/logo.png"></a>
        <a href="/menu"><img id="menu" src="../static/others/menu.png"></a>
        <img id='title' src="../static/others/hometitle.png">
        <div id="div">
            <img id="home-help" src="../static/others/home-help.png">
            <img id="home-text" src="../static/others/home-text.png">
        </div>
        

        <div id="poster-box">
        </div>
        <div><img id="modal-poster"></div>
        <div id="back"> <img id="loading" src="../static/others/loading.png"> </div>
        
        
    </div>
    <img id="wrap" src="../static/back/posterback.png">

    <script>
        $.ajax({
            type: 'GET',
            url: '/home/poster',
            data: {},
            success: function (response) {
                if (response["result"] == "success") {
                    
                    let list = response['list'];
                    
                    
                    for (var i = 0; i < list.length; i++) {
                        var object = "";
                        object += "<div><img class='poster'src ='";
                        object += list[i]['poster'];
                        if (i % 2 == 0) {
                            object += "' style='transform: rotate(7deg);' ></div>";
                        } else {
                            object += "' style='transform: rotate(-7deg);' ></div>";
                        }
                        $("#poster-box").append(object);
                    }

                    
                    $('#back,#loading').css('opacity','0')
                    $('#back,#loading').css('display','none')
                }
            }

        })

        $(document).on('click', ".poster", function (e) {
            e.stopPropagation();

            $('#modal-poster').attr('src', $(this).attr('src')).css('display', 'inline')

            $('.poster').animate({
                opacity: 0.33
            }, 200)
            $('#modal-poster').animate({
                opacity: 1

            }, 200)
        })


        $(document).on('click', ".container", function () {
            $('#modal-poster').animate({
                opacity: 0
            }, 200)
            $('#modal-poster').css('display', 'none')
            $('.poster').animate({
                opacity: 1
            }, 200)
        })

        $(document).ready(function(){
            // var s3poster = "<div><img id='s3' class='poster'src ='https://anti-bucket.s3.ap-northeast-2.amazonaws.com/poster/2.jpeg";
            //         s3poster += "' style='transform: rotate(-7deg);' ></div>"
            //         $("#poster-box").append(s3poster);
        })

        

    </script>
</body>

</html>