<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>

</head>

<body>
    <div class="back">
        <div class="container">
            <img class="menubtn" id="home" src="../static/menu/home.png">

            <img class="menubtn" id="about" src="../static/menu/about.png">

            <img class="menubtn" id="make" src="../static/menu/make.png">

            <img class="menubtn" id="share" src="../static/menu/share.png">

        </div>
        <img id="menu-finger" src="../static/question/left.png">
    </div>
    <script>
        $(".menubtn").click(function () {
            $(this).attr("src", "../static/menu/" + $(this).attr('id') + "_bl.png")
            switch ($(this).attr('id')) {
                case "home":
                    location.href = "/home"
                    break
                case "about":
                    location.href = "/about"
                    break
                case "make":
                    location.href = "/intro"
                    break
                case "share":
                    location.href = "/share"


            }
        })
    </script>
</body>

</html>