<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/setting.js"></script>
    <title>Title</title>

</head>

<body>
    
    <div class="back">
        <img id="no"  src="../static/others/no-black.png">
        <img id="menu-finger" src="../static/question/left.png">

        <div class="container">
            <img class="menubtn" id="home" src="../static/menu/home.png">
            <img class="menubtn" id="about" src="../static/menu/about.png">
            <img class="menubtn" id="make" src="../static/menu/make.png">
            <img class="menubtn" id="share" src="../static/menu/share.png">

        </div>




    </div>


    <script>
        $(".menubtn").hover(function(){
            $(this).attr("src", "../static/menu/" + $(this).attr('id') + "_bl.png")
        },function(){
            $(this).attr("src", "../static/menu/" + $(this).attr('id') + ".png")
        })
        $(".menubtn").click(function () {
            
            switch ($(this).attr('id')) {
                case "home":
                    $('#menu-finger').addClass('home')
                    setTimeout(function () {
                        location.href = "/home"
                    }, 70);
                    break
                case "about":
                    $('#menu-finger').addClass('about')
                    setTimeout(function () {
                        location.href = "/about"
                    }, 70);
                    
                    break
                case "make":
                    $('#menu-finger').addClass('make')
                    setTimeout(function () {
                        location.href = "/intro"
                    }, 70);
                    break
                case "share":
                    $('#menu-finger').addClass('share')
                    setTimeout(function () {
                        location.href = "/share"
                    }, 70);
            }
        })

        $('#no').click(function(){
            console.log('no')
            history.back()
        })
    </script>
</body>

</html>