<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>The Future is Women</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poster.css') }}">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- html2canvas -->
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <!-- jquery mobile -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script src="../static/js/touch-punch.js"></script>
</head>

<body>
    

    <div class="container">
        <img id="menu" src="../static/others/menu.png">
        <div class="poster-tab">
            <img id="help" src="../static/question/poster-help.png">
            <div id="canvas">
                <div id="canvas-name">
                    <img src="../static/poster/star.png">
                    <span></span>
                    <img src="../static/poster/star.png">
                </div>
                <div id="canvas-word"></div>

                <div class="moveable resizable"><img id="img1"></div>
                <div class="moveable resizable"><img id="img2"></div>
                <div class="moveable resizable"><img id="img3"></div>
                <div id="canvas-user">
                    <img id="user">
                </div>
                
                <img id="liquid-img">
                <img id="canvas-img">

            </div>
        </div>


        <div class="button-tab">
            <img id="save" class="btn" src="../static/question/download.png">
            <img id="archive" class="btn" src="../static/question/archive.png">
        </div>
    </div>





    <script>


        $(document).ready(function () {
            console.log($('#canvas').attr('width'))
            var h = $('#canvas').width() * 600/415
            $('#canvas').attr('height',h+'px')

            let imgcolor = sessionStorage.getItem('color')
            $('#canvas-img').attr('src', '../static/poster/' + imgcolor + '.png')
            let num = Math.floor(Math.random() * 24) + 1
            $('#liquid-img').attr('src', '../static/liquid/' + num + '.png')
            $('#canvas-name span').text(sessionStorage.name)
            $('#img1').attr('src', sessionStorage.path1)
            $('#img2').attr('src', sessionStorage.path2)
            $('#img3').attr('src', sessionStorage.path3)
            var obj = "<div class ='word'>" + sessionStorage.word1 + "</div>"
            obj += "<div class ='word'>" + sessionStorage.word2 + "</div>"
            obj += "<div class ='word'>" + sessionStorage.word3 + "</div>"

            $('#canvas-word').append(obj)
            if(sessionStorage.getItem('img-src')!= ""){
                $('#user').attr('src', sessionStorage.getItem('img-src'))
            }
           




        })


        var zidx = 10;

        $(".moveable").draggable({
            containment: 'parent'
        }).mousedown(function () {
            $(this).css('z-index', zidx)
            zidx++
        });

        $('.resizable').resizable({
            containment: "#canvas",
            aspectRatio: true
        });

        $('#save').click(function () {
            
            capture($('#canvas'))
        })

        function capture(div) {
            html2canvas(div[0],{scale:1.2}).then(function (canvas) {
                
                var image = canvas.toDataURL() //오리지날
                let name = sessionStorage.name
                downloadURI(image, "future-" + name + ".png")
            })
        }
        function downloadURI(uri, name) {
            var link = document.createElement("a")
            link.download = name
            link.href = uri
            document.body.appendChild(link)
            link.click()
        }

        $('#archive').click(function () {
            var image = null
            html2canvas($('#canvas')[0],{scale:1.5}).then(function (canvas) {
                image = canvas.toDataURL()
                console.log(image)

                $.ajax({
                type: 'POST',
                url: '/poster/archive',
                data: { 'poster': image },
                success: function (response) {
                    if (response["result"] == "success") {

                        location.href = '/home'
                    }
                }

            });
            })

            
        })

        $(document).on('click','#menu',function(){
            location.href="/menu"
        })


    </script>


</body>



</html>