<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Anti Anti Aging</title>
    <link rel="shortcut icon" href="../static/others/anti.png" type="image/x-icon">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="../static/css/poster.css?v=9">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- html2canvas -->
    <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> -->
    <script src="../static/js/html2canvas.js"></script>
    <!-- jquery mobile -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script src="../static/js/touch-punch.js"></script>
    <script src="../static/js/setting.js?v=3"></script>
</head>

<body>


    <div class="container">
        <img id="menu" src="../static/others/menu.png">
        <div class="poster-tab">
            <img id="help" src="../static/question/poster-help.png">
            <div id="canvas">
                <div id="liquid-div">
                    <img id="liquid-img">
                </div>

                <img id="canvas-img">
                <div id="canvas-name">
                    <img src="../static/poster/star.png">
                    <span></span>
                    <img src="../static/poster/star.png">
                </div>
                <div id="canvas-word"></div>

                <div class="moveable resizable"><img id="img1"></div>
                <div class="moveable resizable"><img id="img2"></div>
                <div class="moveable resizable"><img id="img3"></div>
                <div id="canvas-user" class="moveable resizable">
                    <img id="user">
                </div>



            </div>
        </div>


        <div class="button-tab">
            <img id="save-mobile" class="btn" src="../static/question/download.png">
            <img id="save" class="btn" src="../static/question/download.png">
            <img id="archive" class="btn" src="../static/question/archive.png">
        </div>
    </div>


    <div id="poster-modal">
        <img id="poster">
    </div>





    <script>
        $(document).bind('keydown', function (e) {
            if (e.keyCode == 123) {
                e.preventDefault();
                e.returnValue = false;
            }
        });

        $('#poster, body').bind("contextmenu", function (e) {
            return true;
        });

        $(document).ready(function () {

            document.body.classList.add("reveal");


            console.log($('#canvas').attr('width'))
            var h = $('#canvas').width() * 600 / 415
            $('#canvas').height(h)


            let imgcolor = sessionStorage.getItem('color')
            $('#canvas-img').attr('src', '../static/poster/' + imgcolor + '.png')
            let num = Math.floor(Math.random() * 15) + 1
            $('#liquid-img').attr('src', '../static/liquid/' + num + '.png')
            $('#canvas-name span').text(sessionStorage.name)
            $('#img1').attr('src', sessionStorage.path1)
            $('#img2').attr('src', sessionStorage.path2)
            $('#img3').attr('src', sessionStorage.path3)
            if (sessionStorage.path1 == "") {
                $('#img1').parent('div').css('visibility', 'hidden')
            }
            if (sessionStorage.path2 == "") {
                $('#img2').parent('div').css('visibility', 'hidden')
            }
            if (sessionStorage.path3 == "") {
                $('#img3').parent('div').css('visibility', 'hidden')
            }

            var obj = "<div class ='word'>" + sessionStorage.word1 + "</div>"
            obj += "<div class ='word'>" + sessionStorage.word2 + "</div>"
            obj += "<div class ='word'>" + sessionStorage.word3 + "</div>"

            $('#canvas-word').append(obj)
            if (sessionStorage.getItem('img-src') != "") {
                $('#user').attr('src', sessionStorage.getItem('img-src'))

                if ($('#user').width() > $('#user').height()) {
                    $('#user').css('height', '100%')
                } else if ($('#user').width() < $('#user').height()) {
                    $('#user').css('width', '100%')
                }

            }
            $('.ui-icon-gripsmall-diagonal-se').addClass('ui-icon-arrowthick-2-se-nw').removeClass('ui-icon-gripsmall-diagonal-se')
            $('.ui-icon-arrowthick-2-se-nw, .ui-icon-gripsmall-diagonal-se').attr('data-html2canvas-ignore', 'true')

            $(".btn").height(167 * $(".btn").width() / 381)









        })

        $(window).resize(function () {
            var h = $('#canvas').width() * 600 / 415
            $('#canvas').height(h)
        })


        var zidx = 10;

        $(".moveable").draggable({
            containment: 'parent'
        }).mousedown(function () {
            $(this).css('z-index', zidx)
            zidx++
        });

        $('.resizable').resizable({
            containment: "#canvas",
            aspectRatio: true
        });

        $('#save').click(function () {
            window.scrollTo(0, 0)
            capture($('#canvas'))
        })

        $('#save-mobile').click(function () {
            window.scrollTo(0, 0)
            capture_mobile($('#canvas'))

        })

        $('#poster-modal, #poster').bind("contextmenu", function (e) {
            return true;
        });
        $('#poster-modal, #poster').contextmenu(true)

        $('#poster-modal').click(function () {
            $('#poster-modal').attr('display', 'none')
        })

        function capture_mobile(div) {
            html2canvas(div[0]).then(function (canvas) {
                var image = canvas.toDataURL()
                $('#poster').attr('src', image)
                $('#poster-modal').css('display', "block")
            })
        }


        function capture(div) {
            html2canvas(div[0]).then(function (canvas) {

                var image = canvas.toDataURL()
                let name = sessionStorage.name
                downloadURI(image, "future-" + name + ".png")
            })
        }

        function downloadURI(uri, name) {
            var link = document.createElement("a")
            link.download = name
            link.href = uri
            document.body.appendChild(link)
            link.click()
        }

        $('#archive').click(function () {
            var image = null
            window.scrollTo(0, 0)
            html2canvas($('#canvas')[0], { scale: 1.1, useCORS: true }).then(function (canvas) {
                image = canvas.toDataURL()
                image.crossOrigin = "Anonymous"
                console.log(image)

                $.ajax({
                    type: 'POST',
                    url: '/poster/archive',
                    data: { 'poster': image },
                    success: function (response) {
                        if (response["result"] == "success") {

                            location.href = '/home'
                        }
                    }

                });
            })


        })

        $(document).on('click', '#menu', function () {
            location.href = "/menu"
        })


    </script>


</body>



</html>