<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/setting.js"></script>
    <title>Anti Anti Aging</title>
    <link rel="shortcut icon" href="../static/others/anti.png" type="image/x-icon">


</head>

<body>

    <div class="container q3back">
        <img id="q" src="../static/question/Q3.png">
        <h1>I Want To Be<br>A [&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br>Grandmother.
        </h1>
        <p id="content">나는 OOO한 할머니가 되고 싶어.<br><b>[3가지 영어 형용사]</b>를 입력하세요</p>
        <img class="help" src="../static/question/q3help.png">
        <div class="textdiv">
            <input class="input3" id='1' type="text" placeholder="TEXT 입력">
            <img class="lense" src="../static/question/lense.png">
        </div>
        <div class="textdiv">
            <input class="input3" id='2' type="text" placeholder="TEXT 입력">
            <img class="lense" src="../static/question/lense.png">
        </div>
        <div class="textdiv">
            <input class="input3" id='3' type="text" placeholder="TEXT 입력">
            <img class="lense" src="../static/question/lense.png">
        </div>
        <div id='bottom-container'>
            <img class="finger" onclick="history.back()" src="../static/question/left.png">
            <img class="finger" id="next" src="../static/question/right.png">
        </div>
        <div id="back">
        </div>
        <div id="modal">
            <img id='no' src="../static/question/no.png">
            <h1>SELECT ONE</h1>
            <p>원하는 형용사를 선택해 주세요.</p>
            <div id='modal-container'></div>
        </div>

    </div>





    <script>


        $.ajax({
            type: 'GET',
            url: '/q3/list',
            data: {},
            success: function (response) {
                if (response["result"] == "success") {

                    var input = $(this).siblings('input')
                    let msg = response['list'];
                    var object = ""
                    for (var i = 0; i < msg.length; i++) {
                        object += "<div class='words'  style= 'background-image:"
                        object += "url(../static/select/select"
                        object += (i % 8 + 1) + ".png);'><div class='word-text' name=''>" + msg[i].word + "</div></div>"



                    }
                    $("#modal-container").append(object)
                }
            }
        });


        $(document).ready(function () {

            //lense click
            $('.textdiv > img').click(function () {
                var thisId = $(this).siblings('input').attr('id')

                $('.words').removeClass("clicked")
                $("#modal").attr('name', thisId)
                $("#modal, #back").fadeIn(300)
                $("#modal").css('display', 'inline')

            });

            //modal word click
            $('.word-text').on('click', function () {
                var inputNum = $("#modal").attr('name')
                var selected = $(this).text()
                console.log("clicked " + selected + " in " + inputNum)
                dissmissModal()
                $('#' + inputNum).val(selected)
            })


            //modal 끄기
            $('#no,#back').on('click', function () {
                dissmissModal()
            })






        })

        $(document).on('click', '.word-text', function () {
            var inputNum = $("#modal").attr('name')
            var selected = $(this).text()
            console.log("clicked " + selected + " in " + inputNum)
            dissmissModal()
            $('#' + inputNum).val(selected)
        })





        $(document).on('click', '#next', function () {


            sessionStorage.word1 = capitalize($('#1').val())
            sessionStorage.word2 = capitalize($('#2').val())
            sessionStorage.word3 = capitalize($('#3').val())

            let words = new Array(sessionStorage.word1, sessionStorage.word2, sessionStorage.word3)
            // var rand = new Array(3)
            // for(var i =0; i<3;i++){
            //     if(words[i]!=""){

            //         console.log(Math.random())
            //         var r = Math.random
            //         console.log(Math.floor(r*264))
            //         console.log(rand[i])
            //         rand[i] = Math.floor(r)
            //     }else{
            //         rand[i] = 0
            //     }
            // }


            if (sessionStorage.word1 || sessionStorage.word2 || sessionStorage.word3) {

                $.ajax({
                    type: 'POST',
                    url: '/submit',
                    async: false,
                    data: { 'words': words },
                    success: function (response) {
                        if (response["result"] == "success") {

                            word = response['words']

                            if (word[0] != "") {
                                sessionStorage.setItem('path1', word[0])
                            } else if (sessionStorage.getItem('word1') != "") {
                                var rand = Math.floor(Math.random() * 14) + 1
                                sessionStorage.setItem('path1', '../static/mapping/' + rand + '.png')
                            } else {
                                sessionStorage.setItem('path1', "")
                            }

                            if (word[1] != "") {
                                sessionStorage.setItem('path2', word[1])
                            } else if (sessionStorage.getItem('word2') != "") {
                                var rand = Math.floor(Math.random() * 14) + 1
                                sessionStorage.setItem('path2', '../static/mapping/' + rand + '.png')
                            } else {
                                sessionStorage.setItem('path2', "")
                            }

                            if (word[2] != "") {
                                sessionStorage.setItem('path3', word[2])
                            } else if (sessionStorage.getItem('word3') != "") {
                                var rand = Math.floor(Math.random() * 14) + 1
                                sessionStorage.setItem('path3', '../static/mapping/' + rand + '.png')
                            } else {
                                sessionStorage.setItem('path3', "")
                            }





                        }
                    }
                })
                setTimeout(function () {
                    location.href = "/q4"
                }, 1500);

                


            } else {
                alert('키워드를 한 개 이상 입력하세요.')
            }



        })

        function capitalize(str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
        }

        function dissmissModal() {
            $("#modal,#back").fadeOut(300)
        }



    </script>
</body>

</html>