<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>

</head>

<body>
    <div class="container q3back">
        <img id="q" src="../static/question/Q3.png">
        <h1>I Want To Be<br>A [&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br>Grandmother.</h1>
        <p id="content">나는 OOO한 할머니가 되고 싶어.<br><b>[3가지 영어 형용사]</b>를 입력하세요</p>
        <div class="textdiv">
            <input id='1' type="text" placeholder="TEXT 입력">
            <img src="../static/question/lense.png">
        </div>
        <div class="textdiv">
            <input id='2' type="text" placeholder="TEXT 입력">
            <img src="../static/question/lense.png">
        </div>
        <div class="textdiv">
            <input id='3' type="text" placeholder="TEXT 입력">
            <img src="../static/question/lense.png">
        </div>
        <div id='bottom-container'>
            <img class="finger" onclick="history.back()" src="../static/question/left.png">
            <img class="finger" id="next" src="../static/question/right.png">
        </div>
        <div id="back"></div>
        <div id="modal">
            <img id='no' src="../static/question/no.png">
            <h1>SELECT ONE</h1>
            <p>원하는 형용사를 선택해 주세요.</p>
            <div id='modal-container'></div>
        </div>
    </div>





    <script>
        var nowInput = ""


        $.ajax({
            type: 'GET',
            url: '/q3/list',
            data: {},
            success: function (response) {
                if (response["result"] == "success") {


                    var input = $(this).siblings('input')
                    let msg = response['list'];
                    var object = ""
                    for (var i = 0; i < msg.length; i++) {
                        object += "<div class='words'  style= 'background-image:"
                        object += "url(../static/select/select"
                        object += (i % 8 + 1) + ".png);'><div class='word-text' name=''>" + msg[i].word + "</div></div>"



                    }
                    $("#modal-container").append(object)
                }
            }
        });



        $('.textdiv > img').click(function () {
            var thisId = $(this).siblings('input').attr('id')

            $('.words').removeClass("clicked")
            $("#modal").attr('name', thisId)
            $("#modal, #back").fadeIn(300)
            $("#modal").css('display', 'inline')

        })



        function dissmissModal() {
            $("#modal,#back").fadeOut(300)
        }



        $(document).on('click', '.word-text', function () {

            var inputNum = $("#modal").attr('name')
            var selected = $(this).text()
            console.log("clicked " + selected + " in " + inputNum)

            $(this).parent('div').addClass('clicked')

            dissmissModal()
            $('#' + inputNum).val(selected)
        })

        $(document).on('click', '#no, #back', function () {
            dissmissModal()
        })

        $(document).on('click', '#next', function () {

            let word1 = $('#1').val()
            let word2 = $('#2').val()
            let word3 = $('#3').val()


            console.log(word1)
            console.log(word2)
            console.log(word3)

            $.ajax({
                type: 'POST',
                url: '/submit',
                data: { 'word1': word1 , 'word2':word2,'word3':word3 },
                success: function (response) {
                    if (response["result"] == "success") {
                        
                        words = response['words']
                        console.log(words)
                        console.log(typeof(words))
                        console.log(";;"+words[0]+words[1]+words[2])
                        sessionStorage.setItem('path1',words[0])
                        sessionStorage.setItem('path2',words[1])
                        sessionStorage.setItem('path3',words[2])
                        
                    }
                }
            })



            location.href = "/q4"
        })





    </script>
</body>

</html>