<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="../static/css/question.css?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
    <!-- blur -->
    <script src="../static/js/setting.js"></script>
    <title>Anti Anti Aging</title>
    <link rel="shortcut icon" href="../static/others/anti.png" type="image/x-icon">

</head>

<body>
    <div class="container q2back">
        <img id="q" src="../static/question/Q2.png">
        <h1>Upload<br>Your Photo.</h1>
        <p id="content">당신의 사진을 업로드하세요</p>
        <img class="help" src="../static/question/q2help.png">
        <div class="textdiv">
            <input class="file-name" value="파일 선택" disabled="disabled">
            <input type="file" name="file" id="input" accept="image/png,image/jpg,image/jpeg" onchange="upload()"
                placeholder="">
                <label for="input"><img id="file-img" src="../static/question/file.png"></label>
            
        </div>
        <div id='bottom-container'>
            <img class="finger" onclick="history.back()" src="../static/question/left.png">
            <img class="skip" onclick="next()" src="../static/question/skip.png">
            <img class="finger" onclick="next()" src="../static/question/right.png">

        </div>
    </div>

    <script>
        var image = null;       
        function upload() {
            var fileinput = document.getElementById("input");
            image = new SimpleImage(fileinput);
            var value = $('#input').val().split("\\")
            var name = value[value.length-1]
            $('.file-name').val(name)
        }

        function next() {
            if(image == null){
                sessionStorage.setItem('img-src',"")

            }else{
                for (var pixel of image.values()) {
                var avg = (pixel.getRed() + pixel.getGreen() + pixel.getBlue()) / 3;
                pixel.setRed(avg);
                pixel.setGreen(avg);
                pixel.setBlue(avg);
            }
            var canvas = document.createElement('canvas');
            canvas.width = image.width
            canvas.height = image.height
            image.drawTo(canvas);
            sessionStorage.setItem('img-src', canvas.toDataURL("image/png"))
            }
            

            location.href = "/q3"

        }

    </script>
</body>

</html>