<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
    
</head>

<body>
    <div class="container">
        <img id="q" src="{{ url_for('static',filename='Q3.png')}}">
        <h1>I Want To Be<br>A [&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br>Grandmother.</h1>
        <p id="content">나는 OOO한 할머니가 되고 싶어.<br><b>[3가지 영어 형용사]</b>를 입력하세요</p>
        <div class="textdiv">
            <input type="text" placeholder="TEXT 입력">
            <img src="{{url_for('static', filename='lense.png')}}">
        </div>
        <div class="textdiv">
            <input type="text" placeholder="TEXT 입력">
            <img src="{{url_for('static', filename='lense.png')}}">
        </div>
        <div class="textdiv">
            <input type="text" placeholder="TEXT 입력">
            <img src="{{url_for('static', filename='lense.png')}}">
        </div>

    </div>

    <script>
        $('.textdiv > img').click(function () {

            $.ajax({
                type: 'GET',
                url: '/q3/list',
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        var input = $(this).siblings('input')
                        let msg = response['list'];
                        for(var i=0; i<msg.length;i++){
                            console.log(msg[i]['word'])
                        }
                    }
                }
            });


        })

    </script>
</body>

</html>