<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/setting.js"></script>
    <title>Anti Anti Aging</title>
    <link rel="shortcut icon" href="../static/others/anti.png" type="image/x-icon">

</head>

<body>
    <div class="container q4back">
        <img id="q" src="../static/question/Q4.png">
        <h1>Select<br>a background color.</h1>
        <p id="content">배경색을 선택하세요.</p>
        <div class="color-container">
            <img class="color" id="white" src="../static/question/white.png">
            <img class="color" id="red" src="../static/question/red.png">
            <img class="color" id="blue" src="../static/question/blue.png">
            <img class="color" id="green" src="../static/question/green.png">
            <img class="color" id="yellow" src="../static/question/yellow.png">
            <img class="color" id="pink" src="../static/question/pink.png">
            <img class="color" id="purple" src="../static/question/purple.png">

        </div>
        <div id='bottom-container'>
            <img class="finger" onclick="history.back()" src="../static/question/left.png">
            <img class="finger" id="finishBtn" src="../static/question/finish.png">
        </div>
    </div>

    <script>

        $('.color').click(function(){
            $('.clicked-color').removeClass('clicked-color');
            $(this).addClass('clicked-color');
            $('.color').not('.clicked-color').animate({
                opacity: 0.7},200)
            $('.clicked-color').animate({
                opacity: 1},200)
                sessionStorage.setItem('color',$('.clicked-color').attr('id'))
        })

        $('#finishBtn').click(function(){
            console.log(sessionStorage.getItem('color'))
            if(sessionStorage.getItem('color')){
                location.href = "/poster"
            }else{
                alert('포스터 색상을 선택해주세요.')
            
            }
            
        })

    </script>
</body>

</html>