<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/share.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>

</head>

<body>
    <div id="top">
        <a href="/home"><img id="logo" src="../static/others/logo.png"></a>
        <a href="/menu"><img id="menu" src="../static/others/menu.png"></a>
    </div>

    <div id="container">
        <h1>Share<br>Your Future</h1>
        <p>당신은 어떤 할머니가 되고 싶나요?<br>당신의 이야기를 들려주세요.</p>
        <div id='input-div'>
            <input type="text" placeholder="TEXT 입력"> <img id="submit" src="../static/others/submit.png">
        </div>
        <div id="bubbles">
        </div>


    </div>
    
    <script>

        $.ajax({
            type: 'GET',
            url: '/share/story',
            data: {},
            success: function (response) {
                if (response["result"] == "success") {
                    let list = response['list'];
                    var object = "";
                    for (var i = list.length - 1; i >= 0; i--) {
                        object += "<div class='bubble'> <div class='bubble-text'>";
                        object += list[i]['story'];
                        object += "</div></div>";
                    }
                    $("#bubbles").append(object);

                }

            }

        });

        $(document).on('click', '.bubble-text', function () {

            $('.clicked').removeClass('clicked');
            $(this).parent('div').addClass('clicked');
            $('.bubble,h1,p,input,#submit').not('.clicked').animate({
                opacity: 0.33
            }, 200)
            $('.clicked').animate({
                opacity: 1
            }, 200)


        })
        $(document).on('click', '#submit', function () {
            let myStory = $('input').val()
            $.ajax({
                type: 'POST',
                url: '/share/newstory',
                data: { 'story': myStory },
                success: function (response) {
                    if (response["result"] == "success") {
                        console.log('new story uploaded')
                        location.reload()
                    }
                }
            })
        })

        $('#container').click(function (e) {
            if (e.target.className != "bubble-text") {
                $('.clicked').removeClass('clicked')
                $('.bubble,h1,p,input,#submit').animate({
                    opacity: 1
                }, 200)
            }

        })


    </script>
</body>

</html>